@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$main-font: "Ubuntu", sans-serif;
$primary-font-color: black;
$secondary-color: gray;
$highlight-font-color: #d797ff;
$border-radius: 10px;
$p_margin: 1.8rem 0px;

body {
	font-family: $main-font;
	color: $primary-font-color;
	font-size: 16px;
	background-color: white;
}

.borderRadius {
	border-radius: $border-radius;
}

.wave {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s; /* Change to speed up or slow down */
	animation-iteration-count: 1; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0deg);
	}
}

ul {
	padding: 0px;
	margin: 0px;
}
.aLink {
	color: $highlight-font-color;
	text-decoration: none;
}
.h1-default {
	font-weight: 500;
	font-size: 4rem;
	margin: 2rem auto;
	letter-spacing: 0.03em;
}

.aLink:hover {
	color: #b8dee9;
}
.btnA {
	color: black;

	.btnA-V {
		color: $primary-font-color;
		text-transform: uppercase;
		font-weight: 500;
	}
}
.btnA:hover {
	color: black;
	text-decoration: none;
}

.btnA-V:hover {
	text-decoration: underline;
}
.section {
	margin-top: 5rem;
}
.para {
	color: $secondary-color;
	font-weight: 300;
	letter-spacing: 0.03em;
}
.header {
	margin: 30px auto;
	padding: 20px;
	margin: 0 auto;

	.header__content {
		margin: 100px auto;
	}
	.header__text {
		margin: 5% auto;

		h1 {
			font-weight: 600;
			font-size: 7vw;
			letter-spacing: 0.03em;
		}
	}
}
.header__line {
	width: 100px;
	border-bottom: 118px;
	height: 2px;
	display: inline-block;
	background-color: $secondary-color;
	margin-right: 1rem;
}
.mylogo {
	width: 34px;
	height: 32px;
}
.icons {
	width: 24px;
	margin: auto 1rem;
}
ul li {
	list-style-type: none;
}

.MySkills_Section {
	.MySkills_p {
		max-width: 500px;
		margin: $p_margin;
	}
	.MySkills_List {
		display: grid;
		font-size: 4vw;
		grid-template-columns: 1fr 1fr;
		.MySkills_Group li {
			margin-bottom: 1rem;
		}

		ul li:before {
			content: "O";
			color: $highlight-font-color;
			margin-right: 4%;
			font-weight: 900;
		}
	}
}
.MyProjects_Section {
	.MyProjects_p {
		margin: $p_margin;
		max-width: 500px;
	}
}
.MyActualProjects_Section {
	margin-top: 1.5rem;
	position: relative;
	.project {
		border-radius: 10px;
	}

	h1 {
		margin-top: 1.5rem;
	}
	.MyActualProjects_p {
		margin: 1rem auto;
	}
}
.flip_images {
	width: 100%;
	height: auto;
	display: block;
}

.project--top {
	width: 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	opacity: 0;
}

.flip_images:hover .project--top {
	width: 100%;
	display: block;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.411);
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
	opacity: 1;
}

.section_footer {
	margin-bottom: 2rem;
}

.Contact_Section {
	.Contact_Frame {
		display: grid;
		grid-template-columns: 1fr 1fr;

		.Contact_group {
			margin-top: 2rem;
			a {
				font-weight: 600;
			}
			span {
				margin-left: 1rem;
			}
		}
	}
}

.ContactPic {
	width: 24px;
}

.section-pj {
	margin-top: 1rem;
}

.slick-slider {
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.027);
	height: auto;
}
.slick__container {
	max-width: 900px;

	width: 100%;
	.ProjectList {
		display: flex;
		margin-top: 3rem;
		margin-bottom: 3rem;

		ul {
			margin-right: 4rem;
			.pj_title {
				font-weight: 600;
				text-transform: uppercase;
				font-size: 1.126rem;
				margin-bottom: 1rem;
			}
			li {
				margin: 0.5rem auto;
			}

			li a {
				font-weight: 600;
			}
		}
	}
	.ProjectDescription {
		margin-top: 3rem;
	}

	h1 {
		font-weight: 500;
		font-size: 4rem;
		margin: 3.5rem auto;
		letter-spacing: 0.03em;
	}
}

.para--about {
	max-width: 700px;
}
@media (max-width: 767.98px) {
	.Contact_Section {
		.Contact_Frame {
			display: grid;
			grid-template-columns: 1fr;
		}
	}
}

@media (min-width: 959px) {
	.header {
		.header__content {
		}
		.header__text {
			h1 {
				font-weight: 600;
				font-size: 2.3rem;
				letter-spacing: 0.02em;
			}
		}
	}
	.MySkills_Section {
		.MySkills_List {
			font-size: 1.2rem;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			grid-column-gap: 35px;
		}
	}
}

.p_projects {
	max-width: 500px;
}
